.root {
    display: flex;
    border-bottom: 3px solid #aa3c24;
    padding-top: 10px;
    padding-bottom: 10px;
}

.root:last-child {
    border-bottom: none;
}

.container {
    width: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #aa3c24;
    font-weight: 700;
    font-size: 20px;
}

.row {
    width: 100%;
}