.navbar {
    display: flex;
    justify-content: space-around;
    padding: 25px 15px;
    width: 100%;
    background: #aa3c24;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.typebar {
    padding: 15px 30px;
    display: flex;
    gap: 20px;
    font-size: 20px;
}
