@import '../utils';

.root {
    width: auto-clamp(360, 1920);
}

.navbar {
    display: flex;
    justify-content: left;
    gap: 30px;
    padding: 25px 15px;
    width: 100%;
    background: #aa3c24;
    font-size: auto-clamp(18, 30);
    font-weight: bold;
}

.link {
    background: #aa3c24;
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.activeLink {
    font-weight: bold;
    text-decoration: underline;
}

.container {
    margin-right: 15px;
    margin-left: 15px;
}

.type {
    padding: auto-clamp(0, 16);
    font-size: auto-clamp(16, 24);
    cursor: pointer;
}

.activeType {
    border-bottom: 2px solid #aa3c24;
}

.typebar {
    padding: 15px 0;
    display: flex;
    font-size: auto-clamp(16, 24);
    margin-bottom: auto-clamp(0, 20);
    margin-top: auto-clamp(0, 15);
}

.formBlock{
    width: 100%;
    margin-bottom: auto-clamp(0, 20);
}

.input{
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.buttonset {
    margin-bottom: auto-clamp(0, 30);
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #6d7782;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    padding: 10px 10px;
    min-width: 120px;
    margin: auto-clamp(0, 3);
    text-align: center;
    border-radius: 30px;
}

.activeButton {
    background-color: #aa3c24;
}

.options {
    display: flex;
    margin-bottom: 30px;
}

.weekBlock {
    display: flex;
    justify-content: space-between;
}

.weekSet {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.excel {
    max-width: 100px;
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    margin-right: auto-clamp(0, 20);
}

.today {
    text-align: right;
}

.notFound {
    margin: auto;
    text-align: center;
    font-size: auto-clamp(16, 24);
    padding-top: auto-clamp(3, 25);
}

.hidden {
    display: none;
}

@media screen and (max-width: 700px) {
    .navbar, .typebar {
        flex-direction: column;
        gap: 15px;
    }
    .link, .type {
        text-align: center;
    }
    .links {
        display: block;
    }
    .excel{
        margin-bottom: 15px;
    }
}