.root {
    display: grid;
    grid-template-columns: 100px 50% 20% 30%;
    border-bottom: 2px solid #aa3c24;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.root:first-child {
    padding-top: 0;
}

.root:last-child {
    border-bottom: none;
}

.container {
    width: 110px;
}

.pair {
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .root {
        grid-template-rows: 40% 60%;
        grid-template-columns: 60% 20% 20%;
    }
    .container {
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 10px;
    }
    .cell {
        text-align: center;
    }
}